body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#output {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20%;
    width: 100%;
    font-size: 10vw;
}

#yesnowheel {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 0;
    font-size: 50vh;
}
.running #yesnowheel{
    display: flex;
    height: 50%;
}

#run {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    font-size: 25vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 3px;
}

.running #run {
    height: 30%;
    top: 70%;
    font-size: 25vh;
}

/* Theming */
body {
    background-color: black;
    color: lightcyan;
}

#run {
    border-color: gray;
    color: lightcyan;
    background-color: #444;
}

#run:hover {
    color: #ccc;
    background-color: #222;
}

.running #run {
    background-color: #000;
}

.running #run:hover {
    color: white;
    background-color: #000;
}

.red {
    color: salmon;
}

.green {
    color: green;
}